<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title >Enviar parametor del Request HTTP GET - URL</title>
</head>
<body>
	<h1 >Recibir parametor del Request HTTP GET - URL</h1>

		<ul>
			<li><a th:href="@{/params/string(texto='Hola Bryan')}">params/string?texto=Hola Bryan</a></li>
			<li><a th:href="@{/params/string(texto='Hola Jose')}">params/string?texto=Hola Jose</a></li>
			<li><a th:href="@{/params/mix-params(saludo='Hola Bryan como estas', numero=20)}">params/string?saludo=Hola Bryan , ?numero=20</a></li>

			
		</ul>
	
</body>
</html>